classifier/fc*
classifier/vgg16_*
classifier/inceptionv3_*
classifier/final_weights.h5
classifier/__pycache__
data/extra
data/training
data/validation
data/labels*
data/__pycache__
myvenv
.gitignore


Activate the virtual environment first!...
    $ source myvenv/bin/activate

...Deactivate the virtual environment when you leave!
    $ deactivate


Note: I used pip to install the SciPy core stack:
	- numpy
	- matplotlib
	- scipy
	- pandas
	- sympy
	- ipython
	- nose
	- jupyter

    this was more for future experimentation.
